* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body {
    background: #f5f5f5;
    color: #333;
}
.logo img{
    width: 40px;
}
.logo img:hover{
    transform: scale(1.1);
}

/* HEADER */
header {
    background: #eeeff1;
    padding: 15px 100px;
}

.logo a {
    font-size: 1.4rem;
    font-weight: bold;
    color: #444;
    text-decoration: none;
}

.logo span {
    color: #B22222;
}

/* BOOKING SECTION */
.booking {
    padding: 120px 20px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking h1 {
    font-size: 2.2rem;
    margin-bottom: 10px;
}

.booking p {
    margin-bottom: 30px;
    color: #666;
    text-align: center;
}

/* BOOKING CARD */
.booking-card {
    background: #fff;
    width: 100%;
    max-width: 900px;
    display: flex;
    gap: 30px;
    padding: 25px;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.booking-card img {
    width: 45%;
    border-radius: 1rem;
    object-fit: cover;
}

/* INFO */
.booking-info {
    flex: 1;
}

.booking-info h2 {
    font-size: 1.6rem;
    margin-bottom: 15px;
    color: #B22222;
}

.info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 0.95rem;
}

.price {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    font-size: 1.1rem;
}

.price strong {
    color: #B22222;
}

/* BUTTON */
.btn {
    width: 100%;
    padding: 12px;
    background: #B22222;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}

.btn:hover {
    background: #fe5b3d;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right,#B22222,#fe5b3d);
    margin-top: 40px;
    color: white;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    header {
        padding: 15px 30px;
    }

    .booking-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .booking-card img {
        width: 100%;
    }

    .info-row,
    .price {
        flex-direction: column;
        gap: 5px;
    }
}
